.white {
    background-color: rgb(243, 217, 217);
}

.black {
    background-color: saddlebrown;
}

.white,
.black {
    /* height: 65px;
    width: 65px; */
    /* width: 5vw;
    height: 10vh; */
    height: 12.5%;
    width: 12.5%;
    /* //display: table-cell; */
    display: -webkit-inline-box;
    vertical-align: middle;
    text-align: center
}

img {
    width: 85%;
    height: 85%;
    display: block;
    margin: auto;
}

br {
    font-size: 0px;
}

#game {
    border-style: solid;
    border-width: 5;
    border-color: blue;
    margin: auto;
    /* position: relative;
    /* top: 15%; */
    height: 100%;
    width: 100%;
    /* border-style: solid;
    border-width: 5; */
    /* display: table-cell;
    height: -moz-min-content;
    height: -webkit-min-content;
    height: min-content; */
}

#panel {
    border-style: solid;
    border-width: 5;
    border-color: green;
    width: 50%;
    height: 85%;
    display: table-cell;
}

#gameBoard {
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* float: left; */
    width: 50%;
    height: 85%;
    display: table-cell;
    margin: auto;
    /* position: relative;
    /* top: 15%; */
    /* height: 75vh;
    width: 40vw; */
    border-style: solid;
    border-width: 5;
    /* visibility: hidden; */
}

html {
    /* display: table; */
    /* margin: auto; */
    height: 100vh;
    width: 100vw;
}

body {
    /* height: 75vh;
    width: 75vw;
    background-color: crimson; */
    height: 95%;
    width: 95%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5vw;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.25vw;
}


/* div {
    height: 0.1%;
    width: 0.1%;
} */


/* table {
    height: 1%;
    width: 1%;
} *